#textSize {
    -fx-font-size: 20px;
    -fx-font-family: Arial;
}

#textGenerateSeed {
    -fx-font-size: 20px;
    -fx-font-family: Arial;
}

#textGenerateSeed {
    -fx-font-size: 20px;
    -fx-font-family: Arial;
}

#textAmountOfSeeds {
    -fx-font-size: 20px;
    -fx-font-family: Arial;
}

#textTypeOfModelling {
    -fx-font-size: 20px;
    -fx-font-family: Arial;
}

#textAmountOfIterationMC {
    -fx-font-size: 20px;
    -fx-font-family: Arial;
}

#textJ {
    -fx-font-size: 15px;
    -fx-font-family: Arial;
}

#textkt {
    -fx-font-size: 15px;
    -fx-font-family: Arial;
}

#textIterationMC {
    -fx-font-size: 20px;
    -fx-font-family: Arial;
}

#textAmountOfNewSeeds {
    -fx-font-size: 20px;
    -fx-font-family: Arial;
}

#textXX {
    -fx-font-size: 15px;
    -fx-font-family: Arial;
}

#textYY {
    -fx-font-size: 15px;
    -fx-font-family: Arial;
}